*{
    margin: 0;
    padding: 0;
    font-family: 'Spectral', monospace;
}

html{
    background-color: #4f6d7a;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

#header {
    background-color: #084c61;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: auto;
}

h1{
    font-size: 70px;
}

h2 {
    font-size: 25px;
    text-align: center;
}

figure {
    padding: 25px;
    justify-content: center;
    align-items: center;
}

figcaption {
    text-align: center;
}

p {
    background-color: #9ec1a3;
    padding: 10px;
    width: 700px;
}